<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mridx.c_mbh">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utils.VolleySingleton"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.MyFullScreen.Material"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.activity.splash_ui.SplashUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.home_ui.HomeUI" />
        <activity android:name=".ui.activity.details.Details" />
        <activity android:name=".ui.activity.product.ProductUI" />
        <activity android:name=".ui.activity.cart.CartUI" />
    </application>

</manifest>